

i {
  &.icon-xs {
    font-size: 1em;
  }
  &.icon-sm {
    font-size: 1.25em;
  }

  &.icon-md {
    font-size: 1.5em;
  }

  &.icon-lg {
    font-size: 2em;
  }

  &.icon-xl {
    font-size: 3em;
  }

}

svg {
  &.icon-xs {
    width: 1em;
  }
  &.icon-sm {
    width: 1.25em;
  }

  &.icon-md {
    width: 1.5em;
  }

  &.icon-lg {
    width: 2em;
  }

  &.icon-xl {
    width: 3em;
  }
}


.toolbox, .page-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1;
  gap: 0.5em;
  text-align: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 0.125em;

    &:first-child {
      padding-left: 0.5em;
    }

    &:last-child {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
  }

  &:empty, &:blank, &:-moz-only-whitespace {
    display: none;
  }

  > .separator {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;

    & + .separator, &:last-child {
      display: none !important;
    }
  }
}

.custom-control {
  &.custom-radio, &.custom-checkbox, &.custom-switch {
    padding-top: 0.5em;
  }
}