{% extends 'base.html' %}
{% load reportcraft %}

{% block page-pretitle %}django-reportcraft{% endblock %}
{% block page-title %}
    Example Application
{% endblock %}

{% block content %}
    <p>People, Institutions, Subjects, and Reports</p>
    <h4>Fancy Lists</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'person-list' %}">{% svg_icon 'people' %}&emsp;People</a></li>
        <li class="list-group-item"><a href="{% url 'institution-list' %}">{% svg_icon 'buildings' %}&emsp;Institutions</a></li>
        <li class="list-group-item"><a href="{% url 'subject-list' %}">{% svg_icon 'notebook' %}&emsp;Subjects</a></li>
        <li class="list-group-item"><a href="{% url 'report-list' %}">{% svg_icon 'people' %}&emsp;Reports</a></li>
    </ul>
{% endblock %}
