{% extends "reportcraft/base.html" %}
{% load static %}

{% load reportcraft %}
{% block page-title %}Reports{% endblock %}
{% block page-tools %}
    {% if user.is_authenticated %}
    <a href="#0" data-modal-url="{% url "new-report" %}">
        {% tool_icon label='Add Report' icon='square-plus' %}
    </a>
    {% endif %}
{% endblock %}

{% block page-content %}
    {% include "itemlist/filters.html" %}
    <div class="row">
    <ul class="list-group list-group-flush col mt-3">
        {% for report in object_list %}
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div>
                    <i class="text-info-emphasis ti-report mr-2"></i>&nbsp;
                    <a href="{% url "report-view" slug=report.slug %}">{{ report.title }}</a>{% if report.description %} &mdash;
                    <span class="text-muted text-md">{{ report.description }}</span>{% endif %}
                </div>
                {% if user.is_authenticated %}
                <div class="toolbox">
                    <a href="{% url 'report-editor' report.pk %}" title="Edit Report">
                      {% tool_icon icon='pencil' size='sm' %}
                    </a>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% include "itemlist/pagination.html" %}
</div>
{% endblock %}