a {
    text-decoration: none;
}
.modal.fade:not(.show) .modal-dialog {
  transform: scale(0.8);
}
.page-header {
    margin-bottom: 1rem;
}
.pagination .page-link{
    font-size: 0.85rem;
}
i:before {
    font-family: var(--demo-icon-font) !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant:
    normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}
.selectize-input {
    border: 1px solid var(--demo-border-color);
    padding: .375rem;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: var(--bs-border-radius);
}
.selectize-control.multi .selectize-input>div {
    border-radius: var(--demo-border-radius);
    border: 1px solid var(--demo-border-color);
}
.selectize-control.multi .selectize-input.has-items {
    padding: calc(.375rem - 2px) .375rem calc(.375rem - 5px);
}
.page-pretitle {
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1rem;
    opacity: 0.6;
}